:root{
/** Font Sizes  */
    
font-size: 62.5%;
--fs-100:1.9rem;
--fs-200:2.2rem;
--fs-300:2.8rem;
--fs-400:3.6rem;
--fs-500:5.6rem;
--fs-600:6.2rem;
/* * Colors */
--primary-color:#4fc2f7e0 ;
--secondary-color:#18b3ded7 ;
--background-color:rgb(1, 10, 22) ; 
--txt-h-color:#e2e2e2;
--small-txt:#bebebe;
--secondary-color-2: rgb(12, 22, 37);


/* --glass- */
/** Font Families */
--inter:'Inter', sans-serif;
scroll-behavior: smooth;
}

/* ! Normalize */
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
body{
    font-size: 1.7rem;
    color: #eee;
    background-color: var(--background-color);
    font-family:var(--inter);
    scroll-behavior: smooth;
}
/*! Styling */
.loading-sc{
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    display: block;
    animation: loadingSc 1.2s forwards;
}

@keyframes loadingSc {
    0%{
    }
    70%{
        opacity: 1;
    }
    99%{
   opacity: 0;
}
100%{
   opacity: 0;

z-index: -1;

}
}
.wrapper{
    display: none;
}
.loading-item{
    width: 100px;
    height: 30px;
    display: block;
    z-index: 10;
    /* border: solid var(--secondary-color); */
    border-radius: 100vw;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%);
    box-shadow: 0px 0px 0px var(--primary-color);
    animation: loading 1.2s forwards;
    
}

@keyframes loading {
    0%{}
    100%{
        box-shadow: 0px 1px 20px var(--primary-color);
        width: 115px;
    }

}
.container{
    width: 130rem;
    padding: 0 10rem;
    margin: 0 auto;
}
header.container{
    padding: 0 5rem;
}
header{
    display: flex;
    min-height: 9rem;
    max-height: 9rem;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 0 5rem;

}
.header-cont{
    position: sticky;
    top: 1.1rem;
    z-index: 100;
    background-color: var(--background-color);
}
header .logo img{
    width: 8rem ;
}
.nav-container{
    position: relative;
    /* width: 50rem; */
    
}
header nav{
    width: 100%;
    padding: 0 2rem;
    max-height: 5rem;
   
}

.glass-f{
background-color: transparent;
background-image: linear-gradient(145deg,rgba(255, 255, 255,.22) ,rgba(255, 255, 255,.1));
/* backdrop-filter: blur(100px);
-webkit-backdrop-filter: blur(100px); */
border-radius: 50px;
border: solid var(--primary-color) 1px;
}
.light-on{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: -10;
    position:absolute;
    right: 50%;
    transform: translate(50%);
    border-radius: 4rem;
    box-shadow: 0 0px 2.5rem var(--primary-color);
    opacity: .9;
}


nav ul{
    position: relative;
    display: flex; 
    padding: .3rem;
    justify-content: space-between;

}

/* animation */
.header-cont{
    /* width:70rem !important; */
    width: 85% ; 
    transition:all 350ms  ;
    margin: 0 auto;
    border-radius: 100vw;
    box-shadow: 0 0 1rem var(--primary-color) ;
}
.header-cont:hover{
    width: 85% !important;
}
header {
    transition: All 300ms   ;
    width: 100% !important;
}

nav ul{
    transition: 150ms all;
    display: flex;
}
header:hover  ul{
    display: flex !important;
    opacity: 1;
}

header .nav-container {
    transition: 100ms all;
    width: 50rem ;
    min-height: 4rem;
}

header:hover .nav-container{
    width:50rem !important;
}



header nav ul li {
    font-size:var(--fs-100);
    padding: .5rem 1rem;

}
.mode{
    /* display: inline-block; */
  border-radius: 100vw;
  position: relative;
}
li:hover{
    border-radius: 100vw;
    /* ? in hover of the nav the sudo element will turn a little bit off and the li will have the sudo color of light on    */

}
header :hover .light-on{
    transition: all .2s;
    opacity: .6;
}


.btn-cont:hover .light-on{
    transition: all .2s;
    opacity: .6;
    
}
header li:hover {
    transition: all .2s;
    background-color:#5acbffa4;  
    box-shadow: 0 0 1rem var(--primary-color) ;
}

header:hover .mode .light-on{
    transition: all .2s;

    opacity: .8;
}
.mode .glass-f{
    border: none;
    background: transparent;
}


.mode i{
    font-size:3.2rem;
    position: relative;
}

.btn-cont{
    position:relative
}

/** Landing Section */
.introduction{
    margin: 3rem auto 0 0rem;
    width: 70%;
}
.introduction .hello{
    color: var(--primary-color);
    font-size: var(--fs-400);
    margin-bottom: 2rem;
display:inline-block;
}
.introduction h1,.primary-header{
    color: var(--txt-h-color);
}
.introduction h1,h2{
    font-size: var(--fs-500);
    font-weight:700 ;
}
.introduction h2{
    color: #ccc;
}
.introduction p{
    margin:  3rem 0 ;
    width: 35ch;
    font-size: var(--fs-200);
    color: var(--small-txt);
    line-height: 1.5;
}
.introduction .shine{
    font-size: 2.4rem;
    font-weight:600;
    color: #41b7ee;
    text-shadow: 0px 0px 3px var(--primary-color);

}

.btn-cont{
    width: fit-content;
}
.btn{
    padding: 1rem 2.5rem;
    border-radius: 50px;
    font-size: var(--fs-200);
    color: white;
    font-weight: 700;
}

#about{
    display: flex;
    padding: 12rem 2rem;
}

#about .my-photo{
    width: 28%;
    /* height: fit-content; */
    align-self: center;
    transform: translate(-3rem,-5rem);
    border-radius: 50%;
    border: solid ;
}

#projects{
    margin-top: 50px;
}
.primary-header{
    font-size: var(--fs-600);
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}
.secondary-header {
    font-size: var(--fs-200);
    font-weight: 500;
    text-align: center;
    margin-bottom: 8rem ;
    letter-spacing: 1px;
    color:var(--small-txt) ;
}
#projects .projects-cont{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
    gap: 3rem;
    /* justify-items: center; */
}
.project {
    background-color: var(--secondary-color-2);
    overflow: hidden;
    border-radius: 1.7rem;
}
.bouncer{
    position: relative;
}
.bouncer::before{
content:"Under Development";
background-color: rgb(12, 155, 12);
position: absolute;
padding: .4rem 1rem;
border-radius: 10rem;
top:1rem;
left:1rem; 
}
.bouncer::after{
    content: "⭐";
    background: rgba(251, 255, 10, 0.5);
    padding: 1.3rem;
    font-size: 1.8rem;
    line-height: 1.2;
    position: absolute; 
    border-radius: 5rem;
    top: 1rem;
    right: 1rem;
    
}
.project .tools{
    display: flex;
    gap: 1.5rem;
}
.project .tools span {
text-decoration: underline;
text-underline-offset: .2rem;
text-decoration-thickness: .2rem;
padding: .5rem 1rem;
border-radius: 100vw;
}
.project .tools .html{
background-color: rgba(247, 147, 32, 0.85);
}
.project .tools .css{
background-color: rgba(65, 183, 238,0.85);
}
.project .tools .javascript{
background-color:rgba(231, 212, 60, 0.85);
}
.project .tools .tailwind{
background-color:rgba(38, 230, 214, 0.85);
}
.project .tools .react{
background-color:rgba(77, 219, 255, 0.85);
}
.project .tools .active{
background-color:rgba(255, 77, 77, 0.85);
}

.tools span:hover{
    opacity: .88;
}

.project:hover{
    box-shadow: 0px 0px 2rem #70c6ff67;
    transform:scale(101%);
    transition: .2s all;
}
.project > *:not(a){
    padding: 3rem;
}
.project img{
    width: 100%;
    object-fit: cover;
    object-position: top;
    min-height: 26rem;
    max-height: 26rem;
}
.project p{
    font-size: var(--fs-100);

}
.project a{
    text-decoration: underline;
    font-weight: 500;
}

.project i {
    font-size:var(--fs-500);
    padding: 1rem  3rem 2rem ;
    color: #eee241;
}
.skills-cont{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    width: max-content;

}
#about i{
    font-size: 7rem;
    }
    .comp img,
    .other 
    {
        width: 12rem !important;
        padding-top: 1rem;
    }
    
.skills-cont .par{
    margin-right: 3rem;
font-size: var(--fs-300);
display: block;
}
.skills-cont .skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.skills span{
    font-size: var(--fs-200);
    margin-bottom: 1rem;
}
.skills .react{
    width: 7.6rem !important;
}
.skills .react-sp{
position: relative;
}
.skills .pointer{
position: absolute;
width: max-content;
bottom: -70px;
right: 50%;
color: var(--small-txt);
transform: translateX(50%);
}
.skills .pointer::after{
content:"▲";
font-size: 1.5rem;
position: absolute;
top: -20px;
right: 50%;
transform: translateX(50%);
color: var(--small-txt);
animation: upDown .4s infinite ;
}
@keyframes upDown {
   0%{} 
   100%{top:-28px;}
}
.skills  ul{
flex-direction: column;
gap: 1.5rem;
}
.skills li:last-child img{
    width: 8rem !important;
}
.skills i{
font-size: var(--fs-600);
}
.skills li{
    position: relative;

}
.skills li:first-child i{
    color: #f79220;
}
.skills li:first-child:hover{
/* box-shadow: 5px 5px 20px #f79220 inset ; */
/* border-radius: 50%; */
}
.skills li:nth-child(2) i{
    color: #41b7ee;
}
.skills li:nth-child(3) i{
    color: #eee241;
}
.skills li:hover ul{
    display: flex;
    background-color: #41b7ee;
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: var(--background-color);
    box-shadow: 0px 0px 2.5rem #70c6ff67;
    position: absolute;
    width: 30rem;
   top: 4rem; 
   left: 1.5rem;
   z-index: 3;
   
}
.skills li ul{
    display: none;
    animation: scaleH 1s forwards;
}
@keyframes scaleH {
    
    0%{
        /* transform: scaleY(0); */
        max-height: 0;
    }
    100%{
        /* transform: scaleY(1); */
        max-height:50rem;
    }
}
.project > *:not(a){
    padding: 3rem;
}



#more{
    margin-top: 15rem;
    padding: 0;
}
#hire-me{
  
    display: relative;
}
#hire-me form {
    display: grid;
    /* grid-template-columns: repeat(2,1fr); */
    justify-items: center;
    gap: 2rem;
    width: 60rem;
    margin: 0 auto;

}
#hire-me input{
    font-size: var(--fs-100);
    padding: 2rem;
    border-radius: 100px;
    color:#ddd;
    column-span: 1;
}
#hire-me input::placeholder{
    color: #ddd;
}
#hire-me input:focus{
    outline: transparent;
    box-shadow: 0 0 1.5rem var(--primary-color);
}

#hire-me input:nth-child(5){
    grid-column: span 2;
    width: 100%;
    min-height: 30rem;
    margin: 0 auto;
    border-radius: 4rem;
    padding-bottom: 21rem;
    padding-left: 3rem;
}
#hire-me  .btn-cont{
    margin-top: 3rem;
    grid-column: span 2;

}
.txt-grad{
    margin-top: 10rem;
    background-image: linear-gradient(90deg,var(--primary-color),rgb(5, 36, 65));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12rem;
    font-weight: 800;
    text-align: center;
    display: block;

}
footer{
background-color: var(--secondary-color-2);
}
footer .container{
    padding: 2rem 10rem;
}
footer .work{
   margin-bottom: 1rem;
   display: inline-block;
font-size:1.8rem ;
font-weight: 500;
color:var(--small-txt);
}
footer .work div{
    display: flex;
    align-items: center;
}
footer .work div a{     
    padding: 1rem;
    display: flex;
    align-items: center;
    color: var(--secondary-color);
}
footer .work div img{
    width: 2.7rem;
    margin-right: .5rem;
}
.fiverr a{
    font-weight: bolder;
    color: var(--secondary-color);
}
footer img{
    width: 3rem;

}
footer{

}